.btn {
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 3px;
  border: none;
  width: 100%;
  min-width: 170px;
  display: block;
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn.disabled {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: var(--light-grey) !important;
  color: var(--grey) !important;
}

.btn.large {
  font-size: 1rem;
  min-width: 120px;
}

.btn.medium {
  font-size: 1rem;
  min-width: 110px;
}

.btn.small {
  font-size: 0.9rem;
  min-width: 100px;
}

/* //color */
.btn.primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn.secondary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn.tertiary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn.fullWidth {
  width: 100%;
}
