.userForm {
}

.userForm__flex > input {
  margin: 10px;
}

.userForm .MuiInputBase-input {
  font-size: 14px;
}

.userForm .MuiInputLabel-formControl {
  font-size: 14px;
}

.userForm__row {
  display: flex;
}

.useForm__col {
  flex: 1;
}

.useForm__col:nth-of-type(1) {
  margin-right: 20px;
}

.checkboxes {
  margin-top: 20px;
}

.checkboxes__body {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.checkboxes .col {
  flex: 1;
}

.userForm__buttons {
  display: flex;
  margin-top: 20px;
}
