.select {
  margin-top: 20px;
}

.select > select {
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  color: var(--black);
  display: block;
  font-size: 0.9rem;
  outline: 0;
  height: 40px;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.container {
  max-width: 400px;
  margin: 2rem auto;
}

div.form-field {
  display: block;
  margin-top: 15px;
}

div.form-field.is-focused .control::after {
  border-bottom: 2px solid var(--primary-color);
  transform: scaleX(150);
}

div.form-field.is-focused .control label {
  color: var(--primary-color);
  background-color: var(--white);
  width: auto;
  font-size: 0.75rem;
  transform: translateY(-16px);
}

div.form-field.has-value .control label {
  font-size: 0.75rem;
  background-color: var(--white);
  width: auto;
  transform: translateY(-16px);
}

div.form-field .control {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 5px;
}

div.form-field .control:after {
  border-bottom: 2px solid var(--primary-color);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 400ms;
  width: 1%;
}

div.form-field .control select {
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  color: var(--black);
  display: block;
  font-size: 0.9rem;
  outline: 0;
  height: 40px;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

div.form-field .control label {
  color: var(--grey);
  display: block;
  font-size: 0.9rem;
  left: 10px;
  margin: 0;
  padding: 8px 5px 0;
  position: absolute;
  transition: all 40ms;
  width: 100%;
}

div.form-field .has-error {
  color: var(--error-color);
  margin: 0.3rem;
  font-size: 14px;
}

.errorMessage {
  color: #ff0134;
  font-size: 14px;
  margin-left: 14px;
  margin-top: 3px;
  transition: all 5s ease;
}
