.company {
  padding: 40px;
}

.company__form__info,
.company__form__admin {
  margin-bottom: 40px;
}

.company__form__col {
  flex: 1;
}

.company__form__col:nth-of-type(1) {
  margin-right: 10px;
}

.company__form__col:nth-of-type(2) {
  margin-left: 10px;
}

.company_form__textField {
  display: flex;
}

.size {
  width: 200px !important;
}
